/* ############## */
/* General */
/* ############## */

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --orange: #ff8400;
  --black: #000;
  --white: #fff;
}
/*section-title */
.section-title {
  position: relative;
  color: var(--black);
}
.section-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 2.9rem;
  width: 90px;
  height: 5px;
  background-color: var(--orange);
  transform: translateX(-50%);
}
.section-title::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 7%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--black);
  transform: translateX(-50%);
}

/* ############## */
/* Home */
/* ############## */
#about {
  padding-top: 5rem;
}
#about .container .row:nth-child(2) {
  margin-left: 0.5rem;
}
#about .container .row .col-md-3:first-child {
  background-color: var(--orange);
  color: var(--white);
  padding: 15px 10px 15px 10px;
  border-radius: 7%;
  text-align: center;
}
#about .container .row .col-md-3:last-child {
  color: var(--white);
  border-bottom: 5px solid var(--orange);
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-left: 3rem;
  cursor: pointer;
  padding-top: 17px;
  border-radius: 7%;
}
#about .container .row .col-md-3:last-child:hover {
  background-color: var(--orange);
  box-shadow: 0 0 1rem var(--black);
  transition: 0.5s ease-in-out;
}

/* ############## */
/* Services */
/* ############## */
#services {
  padding-top: 9rem;
}
#services .container .row .col-md-3 i {
  color: var(--orange);
  font-size: 40px;
  padding-bottom: 30px;
}
#services .container .row .col-md-3 h4 {
  color: var(--black);
  font-weight: 600;
}
#services .container .row .col-md-3 p {
  color: var(--black);
  padding-top: 5px;
}

/* ############## */
/* Projets */
/* ############## */
#projets .container .row {
  padding-top: 9rem;
}
#projets .container .row .section-title {
  position: relative;
  color: var(--black);
}
#projets .container .row .section-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 5rem;
  width: 150px;
  height: 5px;
  background-color: var(--orange);
  transform: translateX(-50%);
}
#projets .container .row .section-title::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 6%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--black);
  transform: translateX(-50%);
}

/* ############## */
/* Qualité */
/* ############## */
#qualite {
  padding-top: 9rem;
}
#qualite .container .row .col-md-6 .btn {
  color: var(--black);
  border-bottom: 5px solid var(--orange);
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding-top: 17px;
  border-radius: 7%;
}
#qualite .container .row .col-md-6 .btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in-out;
}

/* ############## */
/* Testimonials */
/* ############## */
#témoignages {
  padding: 5rem;
}
/*section-title */
#témoignages .section-title {
  position: relative;
  color: var(--black);
  margin-bottom: 60px;
  text-align: center;
}
#témoignages .section-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 41.2rem;
  width: 220px;
  height: 5px;
  background-color: var(--orange);
  transform: translateX(-50%);
}
#témoignages .section-title::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--black);
  transform: translateX(-50%);
}
#témoignages {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
  padding-top: 10rem;
}
#témoignages .slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
#témoignages .card-list .card-item {
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--black);
}
#témoignages .card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid var(--white);
  padding: 4px;
}
#témoignages .card-list .card-item .user-profession {
  font-size: 1.5rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}
#témoignages .card-list .card-item span {
  padding: 10px 35px;
  color: var(--white);
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}
#témoignages .card-list .card-item span:hover {
  background: rgba(255, 12, 12, 0.1);
  border: 1px solid var(--white);
  color: var(--white);
}
#témoignages .slider-wrapper .swiper-pagination-bullet {
  background: var(--black);
  height: 15px;
  width: 15px;
}
#témoignages .slider-wrapper .swiper-slide-button {
  color: var(--black);
  margin-top: -50px;
  transition: 0.2s ease-in-out;
}
#témoignages .slider-wrapper .swiper-slide-button:hover {
  color: var(--orange);
}

/* ############## */
/* contact */
/* ############## */
#contact {
  height: 80vh;
}
#contact .container .row .col-md-6:first-child {
  padding-top: 3.5rem;
}
/* Formulaire  */
#contact .container .row .col-md-6:last-child .contact-form {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#contact .container .row .col-md-6:last-child .contact-form form {
  display: flex;
  flex-direction: column;
}
#contact .container .row .col-md-6:last-child .contact-form form input,
textarea {
  width: 400px;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--black);
}
#contact .container .row .col-md-6:last-child .contact-form form textarea {
  resize: none;
  height: 200px;
}
#contact
  .container
  .row
  .col-md-6:last-child
  .contact-form
  form
  .contact-button {
  font-weight: 500;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}
#contact
  .container
  .row
  .col-md-6:last-child
  .contact-form
  form
  .contact-button:hover {
  background: var(--orange);
  transition: 0.8s ease-in-out;
}
#contact .container .row .col-md-6:last-child .copyright {
  padding: 20px;
  text-align: center;
}

/* ############## */
/* Témoignages */
/* ############## */
footer .btn {
  background-color: var(--orange);
}
